<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- linking a css Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>New Ninja</title>
</head>

<body>
    <div class="title w-300">
        <h1>New Ninja</h1>
    </div>
    <div class="container border border-secondary p-3 w-300">
        <form action="/new_ninja" method="POST">
            <div class="form-group dojo_form">
                <label for="dojo_list" class="form_label">Dojo:</label>
                <select name="dojo_list" id="dojo_list">
                    {% for elt in all_dojos%}
                    <option value="{{elt.id}}">{{elt.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group my-2">
                <label for="first_name">First Name:</label>
                <input type="form-text" class="form-control border-secondary" name="first_name" id="first_name">
            </div>
            <div class="form-group my-2">
                <label for="last_name">Last Name:</label>
                <input type="form-text" class="form-control border-secondary" name="last_name" id="last_name">
            </div>
            <div class="form-group my-2">
                <label for="age">Age:</label>
                <input type="number" class="form-control border-secondary" name="age" id="age">
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Create">
        </form>
        <br>
        <p><a href="/dojos">Home</a></p>
    </div>
</body>

</html>